.body {
  margin: 30px auto 0 auto;
  padding: 30px 20px 10px 20px;
  width: 1000px;

  font-family: "Allerta Stencil", sans-serif;
  background: url("images/sun.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.form-group {
  width: 40%;
}

.fa-search {
  font-size: 27px;
}

.fa-street-view {
  font-size: 27px;
}

.currentcity {
  font-size: 70px;
  font-weight: bold;
  font-variant: small-caps slashed-zero;
  text-transform: capitalize;
  padding: 0;
  line-height: 70px;
  color: white;
}

.units {
  display: inline-block;
  font-size: 25px;
  vertical-align: top;
  margin: 25px 0;
}

.currenttemp {
  font-size: 80px;
  padding-left: 70px;
  padding-right: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.mainicon {
  display: block;
  size: 80px;
  padding-left: 78px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.maxmin .temp {
  font-weight: bold;
}

.maxmin {
  padding-top: 45px;
  font-size: 20px;
  color: black;
}
.maxmintag {
  text-decoration: underline;
}
.leftinfo {
  text-align: center;
}
.teste {
  color: black;
}

tbody {
  font-weight: bold;
  font-size: 20px;
}

.day {
  width: 450px;
}
.dailytemps {
  text-align: right;
  width: 50px;
}
.dailyicon {
  width: 20px;
  text-align: center;
  line-height: 10px;
  font-size: 20px;
}
.open-source {
  font-family: "Allerta Stencil", sans-serif;
  text-align: center;
  padding: 0px;
  font-size: 12px;
}
